
main{
    pointer-events: none;
}

body{
    background-color: #F5F5F5;
    overflow-x: hidden;
    font-family: Ebrima, sans-serif;
}

#impressum{
    text-align: center;
    display: block;
    top: 17%;
    left: 0;
    font-size: 16px;
    text-decoration: underline;
}

#impressum_title{
    font-size: 24px;
    color: #325886;
}

#impressium_div{
    display: block;
    width: initial;
    text-align: center;
    position: relative;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 1%;
}

.sideBar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding-bottom: 0.7%;
}


#impressium_div p{
    padding: 0 0 0 0;
}


.sideContent{
    height: 100%;
    width: 370px;
    position: absolute;
    background: linear-gradient(to top, #325886 46%, #8BACD2 97%);
    color: white;
    overflow-x: hidden;
    padding-top: 40px;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideIn;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-sizing: inherit;
    pointer-events: all;
}


.education{
    background: white;
    pointer-events: all;
    height: 100%;
    min-width: 50%;
    color: black;
    position: relative;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideInRight;
    animation-duration: 1s;
    border-radius: 10px;
    animation-fill-mode: forwards;
    opacity: 0;
}

.practicalexp{
    background: white;
    pointer-events: all;
    height: 100%;
    color: black;
    position: relative;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    border-radius: 10px;
    animation-fill-mode: forwards;
    opacity: 0;
}

.skills{
    background: white;
    pointer-events: all;
    height: 100%;
    width: 100%;
    color: black;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 1s;
    border-radius: 10px;
    animation-fill-mode: forwards;
    opacity: 0;
}

.hobbies{
    background: white;
    pointer-events: all;
    height: 100%;
    width: 100%;
    color: black;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 1.5s;
    border-radius: 10px;
    animation-fill-mode: forwards;
    opacity: 0;
}

.sideContent p {
    text-decoration: none;
    font-size: 20px;
    vertical-align: top;
    color: white;
    display: block;
    position: relative;
    top: -96%;
    left: 18%;
}
.sideContent a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    position: relative;
    top: -96%;
    left: 18%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.facilitiy{
    margin:0 0 0 0;
}

.headline{
    padding-top: 3%;
    padding-left:3%;
    margin-bottom: 0;
}

.date{
    margin:0;
}

.desc{
    margin:0;
}

.firstskill{
    padding-top: 0;
}

.jobtitle{
    margin:0;
}

ul{
    margin-left: -3%;
    margin-top: 1%;
    margin-bottom: -1%;
}

.subsc{
    padding-bottom: 4%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 1px solid #325886;
    font-size: 17px;
}

a:hover{
    opacity: 0.5;
}

#firstskill{
    padding-top: 0;
    margin-top: 0;
}

.subsc:last-child{
    border: 0;
}



.icon {
    vertical-align: middle;
    position: relative;
    left: 5%;
}
.personalInformation{
    display: block;
    height: 3em;
    text-align: left;
}

#name{
    position: relative;
    top: -2%;
}

@keyframes slideIn {
    0%   { opacity: 0; transform: translateX(-300px)}
    100%  { opacity: 1; transform: translateX(0)}
}

@keyframes slideInRight {
    0%   { opacity: 0; transform: translateX(300px)}
    100%  { opacity: 1; transform: translateX(0)}
}
.desctitle{
    font-size: 20px;
    margin:-1% 0 0 0;
    color: #325886;
}

#avatar{
    border: 5px solid white;
    border-radius: 26px;
}

.lang{
    display: inline-block;
    position: relative;
    margin-right: 2%;
    padding: 0 0 0 0;
}

#sprachen{
    color: black;
}

.langTitle{
    color: #325886;
}

#ITskills{
    color: black;
    padding-top: 3%;
    padding-left:3%;
}

.skillbar{
    width: 100%;
    height: 1%;
    background-color: #ddd;
    border-radius: 8px;
}
.itskills{
    text-align: right;
    padding-right: 1%;
    color: white;
}

.java{
    width: 90%;
    border-radius: 8px;
    background-color: #325886;
}

.c\+\+{
    width: 70%;
    border-radius: 8px;
    background-color: #325886;
}

.python{
    width: 10%;
    border-radius: 8px;
    background-color: #325886;
}

.webdev{
    width: 50%;
    border-radius: 8px;
    background-color: #325886;
}

.versioning{
    width: 80%;
    border-radius: 8px;
    background-color: #325886;
}

.rdb{
    width: 90%;
    border-radius: 8px;
    background-color: #325886;
}

.nosql{
    width: 70%;
    border-radius: 8px;
    background-color: #325886;
}

.tools{
    width: 90%;
    border-radius: 8px;
    background-color: #325886;
}

.container{
    width: 60%;
    border-radius: 8px;
    background-color: #325886;
}

.microsoft{
    width: 90%;
    border-radius: 8px;
    background-color: #325886;
}

#softskillTitle{
    top: 1%;
    left: 1%;
    color: black;
    margin-top: 3%;
    margin-left: 3%;
}

.softskills{
    display: inline-block;
    text-align: center;
    margin-left: 3%;
}

.softskills p{
    margin-top: 0;
}


.skilltitle{
    margin: 0 0 1% 0;
    font-size: 20px;
    color:black;
}

.mainContent{
    padding-left: 390px;
    z-index: -10;
}


@media screen and (max-width: 1000px) {
    .sideContent{
        animation: none;
        opacity: 1;
        display: block;
        width: 100%;
        position: relative;
        padding-top: 4%;
        padding-bottom: 4%;
        overflow-y: hidden;
        border-radius: 10px;
    }

    .headline{
        padding-top: 5%;
        padding-left:5%;
        margin-bottom: 0;
    }

    .softskills{
        display: block;
        text-align: center;
    }

    .subsc{
        padding-bottom: 5%;
        padding-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }


    .sideBar{
        position: relative;
    }

    .mainContent{
        width: 100%;
        padding-left: 0;
    }

    #name{
        margin-bottom: 0;
        margin-top: 0;
    }

    .sideContent p{
        font-size: 20px;
        left: 0;
        top: -32%;
        display: block;
        align-content: center;
        text-align: center;
    }

    .icon{
        display: block;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: -1%;
        margin-top: 6%;
    }

    .sideContent a{
        font-size: 20px;
        left: 0;
        top: -32%;
        display: block;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .education{
        animation: none;
        opacity: 1;
        width: 100%;
        left: 0;
    }

    .skills{
        animation: none;
        opacity: 1;
        left: 0;
        width: 100%;
        padding-bottom: 1%;
    }

    .hobbies{
        animation: none;
        opacity: 1;
        left: 0;
        width: 100%;
    }

    .practicalexp{
        animation: none;
        opacity: 1;
        left: 0;
        width: 100%;
    }

}